<div class="fixed w-full h-screen bg-gray-600 opacity-90 top-0 left-0 z-50" (click)="deny()"></div>

<div class="fixed w-full h-screen flex justify-center items-center z-50">
  <div
    class="rounded bg-white p-5 border border-black self-center flex flex-col gap-5"
    style="opacity: 1"
  >
    <h5 class="text-xl">{{title}}</h5>

    <div class="flex gap-5">
      <button class="rounded-xl p-5 w-full bg-red-500 text-white" (click)="accept()">Sí</button>
      <button class="rounded-xl p-5 w-full bg-blue-500 text-white"(click)="deny()">No</button>
    </div>
  </div>
</div>
