<main class="p-5">
  <div class="mx-auto bg-white p-6 rounded-lg shadow-md text-justify">
    <h2 class="text-5xl overflow-visible mb-5 text-left">
      {{this.texts?.title}}
    </h2>
    <div class="block lg:flex gap-5 mb-4">
      <p>
        {{this.texts?.p1}}
      </p>
      <img src="../../../assets/logo.png" alt="" width="100px"/>
    </div>

    <div class="flex flex-col-reverse lg:flex-row gap-5 mb-4">
      <img src="../../../assets/autobuses.webp" alt=""/>
      <p>
        {{this.texts?.p2}}
      </p>
    </div>

    <p class="mb-4">
      {{this.texts?.p3}}
    </p>

    <ul class="list-disc list-inside mb-4 pl-4">
      <li class="mb-2">
        {{this.texts?.l1}}
      </li>
      <li class="mb-2">
        {{this.texts?.l2}}
      </li>
      <li class="mb-2">
        {{this.texts?.l3}}
      </li>
      <li class="mb-2">
        {{this.texts?.l4}}
      </li>
    </ul>

    <p class="mb-4">
      {{this.texts?.p4}}
    </p>

    <p class="mb-4">
      {{this.texts?.p5}}
    </p>
  </div>
</main>
