<app-log-out-dialog
  *ngIf="this.showLogOutDialog"
  [title]="this.texts?.dialogLogOutTitle"
  (confirm)="this.texts?.accept"
  [reject]="this.texts?.reject"
  (closeDialog)="closeDialog($event)"
/>

<app-log-out-dialog
  *ngIf="this.showDeleteAccountDialog"
  [title]="this.texts?.dialogDeleteAccountTitle"
  (confirm)="this.texts?.accept"
  [reject]="this.texts?.reject"
  (closeDialog)="closeDialog($event)"
/>
<div class="flex justify-center align-center w-screen" >
  <div
    class="flex flex-col p-5 border rounded-xl shadow m-5 justify-between lg:justify-around w-full lg:w-3/4 h-full"
  >
    <h2 class="text-center text-4xl">{{ this.texts?.title }}</h2>
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="flex flex-col justify-between lg:mb-5">
        <div>
          <h4 class="text-3xl">{{ this.texts?.email }}:</h4>
          <h5 class="text-xl">
            {{ this.user }}
          </h5>
        </div>
        <div>
          <h4 class="text-3xl">{{ this.texts?.dni }}:</h4>
          <h5 class="text-xl">
            {{ this.dni }}
          </h5>
        </div>
        <div>
          <h4 class="text-3xl">{{ this.texts?.trips }}:</h4>
          <h5 class="text-xl">
            {{ this.rides }}
          </h5>
        </div>
      </div>
      <div class="flex flex-col">
        <h5 class="text-3xl">{{ this.texts?.userQR }}:</h5>
        <ngx-qrcode-styling [config]="config"></ngx-qrcode-styling>
      </div>
    </div>
    <div class="flex gap-5">
      <button
        class="bg-slate-500 text-white p-5 rounded-xl w-3/4"
        (click)="this.showLogOutDialog = true"
      >
        {{ this.texts?.logOut }}
      </button>

      <button
        class="bg-red-500 text-white p-5 rounded-xl w-1/4"
        (click)="this.showDeleteAccountDialog = true"
      >
        {{ this.texts?.deleteAccount }}
      </button>
    </div>
  </div>
</div>
